body {
  margin: 0;
}

.main-container {
  display: flex;
  content: ":before";
  background: blue;
  border: 3px solid green;
  min-width: 300px;
  width: 70%;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.block-a {
  background: yellow;
  border: 3px solid orange;
  min-width: 150px;
  width: 100%;
}

.block-b {
  background: red;
  border: 3px solid violet;
  width: 150px;
}

@media (max-width: 700px) {
  .main-container {
    flex-wrap: wrap;
  }
  .block-b {
    width: 100%;
  }
}
