.container1 {
  margin: 0px;
  content: ":before";
  background: blue;
  border: 10px solid green;
  width: 150px;
}

.container1:before {
  content: ":before";
  background: white;
  border: 10px solid #3586FF;
  width: 10px;
}

.container1:after {
  content: ":after";
  background: yellow;
  border: 10px solid orange;
  left: 150px;
}