body {
  font-family: Arial, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  content: ":before";
  background: rgb(177, 203, 238);
  min-width: 300px;
  height: auto;
  width: 70%;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.buttons {
  margin: 10px;
}

.content {
  margin: 10px;
  overflow-y: scroll;
  height: 500px;
}

/* Remove default bullets */
ul,
#myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

.tree-node {
  font-size: 18px;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.node-name-wrapper {
  margin: 0px;
}

.node-name:hover {
  background-color: cornflowerblue;
}

.node-item {
  margin-left: 0px;
}

.icon-space {
  display: inline-block;
  width: 16px;
  margin-right: 5px;
}

.icon-checkbox {
  margin-right: 5px;
}

.icon {
  margin-right: 5px;
}

/* Hide the nested list */
.nested {
  display: none;
  padding-inline-start: 12px;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
  transition: max-height 250ms ease-out;
}
